*.bun-build
*.pem
*.pt
.DS_Store
.cache
.env
.env*.local
.next/
.nitro/
.omc
.output/
.pnp
.pnp.js
.tmp/
.turbo
.vercel
.wxt
__pycache__
build
bun.lock
coverage
dist/
next-env.d.ts
node_modules
out/
playwright-report/
telex-host.sh
test-results/
test-results.xml